.sidebar 
  > .sidebar-links 
    > li 
      > a
        &.sidebar-link
          font-size 1em !important
          line-height: 1.4 !important
          font-weight normal !important
          &.active
            font-weight bold !important

.sidebar 
  > .sidebar-links
    > li:not(:first-child)
      margin-top auto !important

$accentColor = #5d85c8
$accentDarkColor = #5d85c8

.page-edit, .page-nav {
  max-width: 1040px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsla(153,48,46,.7)
  border-radius: 10px;
  background: var(--accentColor);
}

::-webkit-scrollbar-thumb:hover {
  transition: 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background: transparent;
}

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

img {
  pointer-events: none;
}

.sidebar .dropdown-wrapper .dropdown-title {
    pointer-events: auto;
}
